body {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Georgia', serif;
}

.clearfix {
  content: "";
  clear: both;
}


.social-top {
    display: block; /* display block, overflow hidden hacen que se adapten al
    contenido que tenga adentro */
    overflow: hidden;
    background-color: #3c2520;
    border-bottom: 1px solid #957964;
}
.div-one {
    float: left;
    width: 50%;
    padding-top: 13px;
}

.div-one ul {
    width: 100%;
}

.div-two {
    float: left;
    width: 50%;
    padding-top: 9px;
}

.social-text {
    width: 50%;
    margin-left: 20px;
}

.social-text a {
    text-decoration: none;
    color: #999999;
    font-family: Georgia, serif;
    font-size: 14px;
    padding: 3px 6px;
}

.social-text li a {
    border-right: 1px solid #999999;
}

.social-text li:last-child a{
    border: none;
}

.social-icons {
    float: right;
    width: 44%;
    margin-bottom: 10px;
}

.social-icons li {
    border-radius: 50%;
    background-color: #957964;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    font-size: 21px;

}

.fa {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

.social-icons li a{
    text-decoration: none;
    color: #fff;
}

.social-icons li:hover{
    background-color: #db4a39;
}


li {
    float: left;
}

li a {
    display: block;
}

#logo {
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-size: 26px;
    color: #333333;
    text-decoration: none;
}

#logo span {
    font-size: 46px;
    /*font-weight: bold;*/
}

.searchBoxDiv {
    float: right;
    width: 53%;
}

.btn-search {
    background-color: #3c2520;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    height: 32px;
    float: left;
    border: none;
}

.searchBoxDiv input {
    height: 30px;
    float: left;
    margin-right: 1px;
    border: 1px solid #dddddd;
}


input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7f7f7f;
  font-family: 'Georgia', serif;
  padding-left: 15px;
  font-size: 12px;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #7f7f7f;
  font-family: 'Georgia', serif;
  padding-left: 15px;
  font-size: 12px;
}
input::-ms-input-placeholder { /* IE 10+ */
  color: #7f7f7f;
  font-family: 'Georgia', serif;
  padding-left: 15px;
  font-size: 12px;
}
input::-moz-placeholder { /* Firefox 18- */
  color: #7f7f7f;
  font-family: 'Georgia', serif;
  padding-left: 15px;
  font-size: 12px;
}

.searchBoxDiv p {
    margin-bottom: 15px;
    margin-left: 17px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.div-left {
    display: block;
    overflow: hidden;
    width: 49.1%;
    margin-top: 20px;
    border-top: 5px solid #ebebeb;
}

.div-right {
    display: block;
    overflow: hidden;
    width: 49%;
    margin-top: 20px;
    border-top: 5px solid #ebebeb;
}

.div-right div:nth-child(1) {
    width: 45%;
    border: 1px solid #e4e4e4;
    height: 305px;
}


.div-right div:nth-child(3) {
    width: 45%;
    background-color: #957964;
    height: auto;
}

header {
    display: block;
    overflow: hidden;
}

#logo p {
    margin-bottom: 37px;
}

nav {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 37px;
}

nav ul {
    width: 100%;
}

nav ul li {
    height: 65px;
    list-style-type: none;
    background-color: #3c2520;
}
nav ul li a {
    color: #fff;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    text-align: center;
    padding: 27px 20px;
}

nav ul li:first-child {
    border-radius: 5px 0px 0px 5px;
}

nav ul li:last-child {
    border-radius: 0px 5px 5px 0px;
}

nav ul li:not(:last-child) {
    border-right: 2px solid white;
}

nav ul li:hover {
    background-color: #957964;
}

a {
    text-decoration: none;
}

main {
    width: auto;
    display: block;
    overflow: hidden;
    position: relative;
}

main h1 {
    color: #957964;
    font-family: 'Georgia', serif;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

blockquote {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 18px;
    color: #999999;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 35px;
}

blockquote:before {
    content:"\201C";
}

blockquote:after {
    content:"\201D";
    transform: translateY(12px);
    display: inline-block;
}

.bigImg {
    float: left;
    width: 58.2%;
    border: 2px solid #dddddd;
    padding: 4px;
    height: auto;
}

.sidebar-images {
    float: right;
    width: 38%;
    height: auto;
}

.left-container  {
    display: block;
    overflow: hidden;
    width: 100%;
}

#yourTitle-1 div:nth-child(2)  {
    display: block;
    overflow: hidden;
    font-size: 15px;
}

#yourTitle-1 div:nth-child(1) img {
    border-radius: 50%;
    margin: 33px 18px 0px 0px;
}

.text-box-right {
    width: 69%;
}

.text-box-right h4 {
    color: #585b5f;
    font-family: 'Georgia', serif;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.text-box-right p {
    margin-bottom: 15px;
}

a {
    color: #957964;
    font-size: 13px;
}

#persons-name div {
    margin: 30px auto;
    text-align: center;
    margin-right: 15px;
    width: 47.9%;
    border: 1px solid #e4e4e4;
}

#persons-name div:last-child {
      margin-right: 0px;
}

#persons-name img {
    margin-top: 20px;
}

#persons-name h2 {
    font-size: 32px;
    margin: 16px auto 25px auto;
    text-align: center;
}

#yourTitle-1 h3 {
    background-color: #fff;
    position: absolute;
    top: 14px;
    left: 17%;
}

 #persons-name h3 {
    background-color: #fff;
    position: absolute;
    top: 14px;
    right: 0px;
    left: 67%;
    width: 145px;
 }

#persons-name p {
    font-size: 12px;
    color: #979797;
    width: 76%;
    margin:0px auto 20px auto;
}

#persons-name .white-text {
    color: #fff;
}

.personWrapper {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    border-bottom: 5px solid #dddddd;
    padding-bottom: 50px;
}

.pre-footer {
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #efefef;
}

.col {
    width: 33%;
    float: left;
    margin-top: 29px;
}

h4 {
  font-size: 14px;
}

.pre-footer h2 {
  margin-bottom: 25px;;
}

.pre-footer h4 {
  margin-bottom: 4px;
}

.pre-footer h6 {
  margin-bottom: 8px;
}

h6 {
  font-size: 10px;
  color: #666666;
}


.pre-footer p {
  color: #999999;
  font-size: 13px;;
  padding-bottom: 17px;
  width: 90.3%;
}

.col ul li {
  float: left;
  width: 90.3%;
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 0px;
}

.col i {
  float: left;
  position: relative; /*Sirve unicamente si no hay un elemento posicionado absolute*/
  width: 6.5%;
  top: -3px;
  left: 0;
}

#about a {
  margin-bottom: 30px;
  display: block;
}

footer {
  height: auto;
  background-color: #1f1210;
  border-top: 1px solid #957964;
  color: #957964;
}

footer p {
  padding: 30px 0px;
  font-size: 12px;
}
